.group-loginTo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.group-loginTo button {
    background: none    ;
    border: var(--border);
    height: 64px;

    font-size: 1.5em;
    font-weight: 300 ;
    transition: all .5s;
}

.group-loginTo button:hover , .group-loginTo button:hover  a {
    cursor: pointer;
    background-color: var(--MainColor);
  color: aliceblue;
}

.group-loginTo button  a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: black;

    padding: 14px ;
    transition: all 0.5s;
}
