.group-loginTo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* .group-loginTo button {
    background: none    ;
    border: var(--border);
    height: 64px;

    font-size: 1.5em;
    font-weight: 300 ;
    transition: all .5s;
} */

.group-loginTo button:hover , .group-loginTo button:hover  a {
    cursor: pointer;
  color: aliceblue;
}

.group-loginTo  a {
    color: white;
    display: block;
    width: 100%;
    font-weight: 300;   
    display: block;
    text-decoration: none ;
    text-transform: capitalize;
    text-align: center;
    padding: 14px 150px;
    transition: all 0.5s;
}
