footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: flex-end;
}

.copy-right {
    width: 100%;
    height: 60%;
    padding:0  20px;
    background-color: #050505;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.copy-right h5 {
    color: #FFFFFF;
    font: caption;
}

.copy-right h5 a{
    padding-right: 10px;
    color: gold;
}